Options +FollowSymlinks
# Activation du mod rewrite d'Apache 
RewriteEngine On
#Reecriture de la page d'accueil
RewriteRule ^accueil$ app/view/accueil.php
RewriteRule ^connexion$ app/view/connexion.php
RewriteRule ^inscription$ app/view/inscription.php
RewriteRule ^dashboard$ app/view/dashboardadmin.php
RewriteRule ^listefilm$ app/view/listefilmutil.php
RewriteRule ^$
RewriteRule ^$
RewriteRule ^$
RewriteRule ^$
