Options +FollowSymlinks
# Activation du mod rewrite d'Apache 
RewriteEngine On
#Reecriture de la page d'accueil
RewriteRule ^accueil$ app/view/accueil.php
RewriteRule ^connexion$ app/view/connexion.php
RewriteRule ^inscription$ app/view/inscription.php
RewriteRule ^admin/dashboard$ app/view/dashboardadmin.php
RewriteRule ^user/listefilm$ app/view/listefilmutil.php
RewriteRule ^admin/ajoutcategorie$ app/view/addcategorie.php
RewriteRule ^admin/ajoutadministrateur$ app/view/addadmin.php
RewriteRule ^deconnexion$ app/controller/controllerdeconnexion.php
RewriteRule ^user/ajoutfilm$ app/view/ajoutfilm.php
RewriteRule ^user/suppressionfilm$ app/view/delfilm.php